bot_project/settings.py
git.commands 
web_proj/web/ 
*.log 
tar_extract.py
__pycache__
venv/
images/
copy_files/
env_botProject/ 
temp.py 
bim_project/.env
export_task/.env
export_task/*.json
py_course/Ex.6/.env
py_course/test.py
export_proj_venv
export_task_backup
bim_project/tmp
bim_project/archived
bim_project/bim_utils/*.lic
bim_project/bim_utils/venv
bim_project/bim_utils/transfer_files
bim_project/bim_utils/archive

