bot_project/settings.py
git.commands 
web_proj/web/ 
*.log 
repo2.txt 
__pycache__
env/
images/ 
env_botProject/ 
temp.py 
bim_project/.env
export_task/.env
export_task/*.json
Active/
Archived/
Draft/
../py_course/Ex.6/.env
export_proj_venv
export_task_backup
.env
bim_project/export_task/*.json
bim_project/export_task/*.txt
bim_project/export_task/active
bim_project/export_task/draft
bim_project/export_task/archived
bim_project/export_task/tmp
bim_project/bak.json
bim_project/export_task/from_export
