ToastRack {
    dock: top;
    align-horizontal: right;
    height: auto;
}

ContentSwitcher {
    height: 1fr;
    border: round $primary;
    padding: 1;
}

#command-tree {
    width: 35;
}

#login-form {
    display: none;
}