Screen {
    layout: vertical;
}

Horizontal {
    height: 1fr;
}

Navigation {
    width: 24;
    border: round green;
}

Content {
    border: round blue;
}

TaskPanel {
    width: 24;
    border: round cyan;
}

VsphereOperationPanel {
    width: 1fr;
    border: round yellow;
}