#vsphere-screen {
    width: 1fr;
    height: 1fr;
}

#filter-row,
#exclude-row,
#filter-options {
    height: 2;
    width: 1fr;
}

#filter-row Label,
#exclude-row Label {
    width: 10;
    padding-top: 1;
}

#filter,
#exclude {
    width: 40;
}

#filter-options {
    height: 3;
    align: left middle;
}

#powered-on {
    width: auto;
    margin-left: 10;
    margin-right: 0;
}

#refresh {
    width: 5;
    height: 3;
    margin-left: 0;
}

#power-row,
#snapshot-row {
    height: 3;
    width: auto;
    layout: horizontal;
}

#power-row Label,
#snapshot-row Label {
    width: 10;
}

#power-row Button,
#snapshot-row Button {
    width: 10;
}

#actions {
    height: 6;
    width: auto;
    margin-top: 1;
    margin-bottom: 0;
}

#vm-table {
    width: 1fr;
    height: 1fr;
}

#vsphere-content {
    layout: vertical;
    width: 1fr;
    height: 1fr;
    min-height: 0;
    margin: 0;
    margin-top: 1;
    padding: 0;
    border: solid gray;
}

#menu {
    width: 30;
    height: 1fr;
    border: solid gray;
}

#content {
    width: 1fr;
    height: 1fr;
}

#menu Button {
    width: 1fr;
}