Screen {
    layout: vertical;
}

#menu {
    width: 30;
    border: solid gray;
}

#menu Button {
    width: 100%;
}

#content {
    border: $secondary tall;
    width: 1fr;
    border: solid gray;
}