#vsphere-screen {
    width: 1fr;
    height: 1fr;
}

#filter-row,
#exclude-row {
    height: 3;
    width: 1fr;
}

#filter-row Label,
#exclude-row Label {
    width: 10;
    padding-top: 1;
}

#filter-input, #exclude-input {
    width: 40;
}

#filter-options {
    height: 3;
    width: 1fr;
    align: left middle;
    margin-top: 1;
}

#powered-on-checkbox {
    width: 24;
    margin-left: 0;
    margin-right: 1;
    background: transparent;
    border: none;
}

#refresh-button {
    width: 9;
    min-width: 9;
    height: 3;
    margin-left: 2;
    background: transparent;
    border: none;
    content-align: center top;
}

#power-row,
#snapshot-row {
    height: 3;
    width: 1fr;
    align: left middle;
}

#power-row Label,
#snapshot-row Label {
    width: 10;
    height: 3;
    
}

#power-row Button,
#snapshot-row Button {
    width: 9;
    min-width: 9;
    margin-right: 1;

}

#actions {
    height: 6;
    width: auto;
    margin-top: 1;
    margin-bottom: 0;
}

#vm-table {
    width: 1fr;
    height: 1fr;
}

#vsphere-content {
    layout: vertical;
    width: 1fr;
    height: 1fr;
    min-height: 0;
    margin: 0;
    margin-top: 1;
    padding: 0;
    border: solid gray;
}

#menu {
    width: 30;
    height: 1fr;
    border: solid gray;
}

#content {
    width: 1fr;
    height: 1fr;
}

#menu Button {
    width: 1fr;
}